img {
    height:150px;
}
.flg{
    height:50px;
}
.borderme{
    border-style: dotted;

}
ul.a {
    list-style-type: circle;
}

.font {
    font-family: 'Tangerine', cursive;
}


html {
    background: url(../img/oreng.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}