<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div th:replace="base :: navlink" ></div>
<!-- A grey horizontal navbar that becomes vertical on small screens -->
<!--
<nav class="navbar navbar-expand-sm bg-light">
-->
    <!-- Links -->
<!--
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Recipes</a>

    </ul>

</nav>



-->
<div class="container">
    <div class="row ">
        <div class="col">
            <h1> Sichuan Chicken Wings</h1>
            <p class="font">  China <img class="flg" src="img/china.jpg" alt=" China"> </p>

        </div>
    </div>
    <div class="row ">
        <div class="col-4 ">
            <div class="row ">
                <img src="img/wing.jpg" alt=" wing">
            </div>
            <div class="row ">

                <h3>Ingredients: </h3>
                <ul class="a">
                <li>800g chicken wings </li>
                <li>1 tbsp baking powder</li>
                <li>Baking powder</li>
                <li>1½ tsp Sichuan peppercorns</li>
                <li>1½ tsp chilli flakes</li>
                <li>3 tbsp Shaoxing wine</li>
                <li>1½ tbsp garlic and ginger paste</li>
                <li>3 tbsp dark soy sauce</li>
                <li>Soy sauce</li>
                <li>3 tbsp light soy sauce</li>
                <li>1½ tsp sesame oil</li>
                <li>3 tbsp palm sugar</li>
                </ul>
            </div>

        </div>
        <div class="col ">

            <h3>Directions:</h3>
            <p>

                To serve

                chopped peanuts

                chilli flakes

                Method

                Heat oven to 160C/140C fan/gas 3.

                Toss the chicken in 1 tsp salt and the baking powder
                – this is the secret to getting crispy skin!
                Put the wings on a wire rack set over an oven tray.
                Bake for 30 mins, turning halfway, then turn the heat
                up to 220C/200C fan/gas 7 and cook for 20 mins more.

                Meanwhile, toast the peppercorns and chilli flakes until
                fragrant, about 2 mins, then grind using a pestle and mortar.
                Tip into a saucepan, then add the rest of the ingredients apart
                from the chopped peanuts and chilli flakes. Whisk to combine,
                then cook over a medium heat for 8-10 mins until thickened and
                bubbling. Set aside.

                Take the chicken off the rack and tip onto the tray, then coat
                in the glaze. Return to the oven for 5 mins until bubbling and sticky. Serve the chicken scattered with the peanuts and chilli flakes.

            </p>
        </div>

    </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>.


</body>


</html>