<!DOCTYPE html>

<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div th:replace="base :: navlink" ></div>
<div class="container">

    <div class="row ">
        <div class="col">
            <h1> Pumpkin Rice Noodles</h1>
            <p class="font">  Taiwan <img class="flg" src="img/taiwan.jpg" alt=" Taiwan Flg"></p>
        </div>
    </div>
    <div class="row ">
        <div class="col-4 ">
            <div class="row ">
                <img src="img/noodles.jpeg" alt=" Pumpkin Rice Noodles">
            </div>
            <div class="row ">
                <h3>Ingredients: </h3>
                <p>Serves 1 | Prep Time: 15 minutes | Cook Time: 5 minutes
                    Report this ad </p>
                <ul class="a">
                    <li>100g (3.5 oz) dried rice vermicelli</li>
                    <li>2 tablespoons oil</li>
                    <li>2 cloves garlic, minced</li>
                    <li>100g (3.5 oz) ground pork</li>
                    1<li>00g (3.5 oz) pumpkin (or kabocha), diced</li>
                    <li>½ cup water</li>
                    <li>2 tablespoons soy sauce</li>
                    <li>1 tablespoon sweet soy sauce</li>
                    <li>3 dashes white pepper</li>
                </ul>
            </div>
        </div>
        <div class="col ">
            <h3>Method:</h3>
            <p>
                1. Soak the dried rice vermicelli in warm water for about 20 minutes. Drain the water and set aside.
                2. Heat up the oil in a wok and add the garlic. Stir-fry the garlic until aromatic before adding the ground pork and pumpkin.
                3. Add the water, soy sauce, sweet soy sauce, white pepper and bring to boil.
                4. Add the rice vermicelli into the wok, stir to combine well with the ingredients in the wok. Continue to stir fry until the vermicelli is cooked through and soaked up the sauce. Dish out and serve immediately.

            </P>
        </div>



    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>.


</div>
</body>
</html>