<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<nav class="navbar navbar-expand-sm bg-light">
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Recipies</a>
    </ul>
</nav>

<div class="container"><!--opens container-->
    <div class="row">
    </div><!--opens row-->
<div class="row"><!--opens row-->
    <div class="col-sm-4"><!--creates col 1-->
        <a href="injera.html"><img  src="/img/injera.jpeg" /></a>
    </div>
    <div class="col-sm-4">
        <a href="crabbypage.html"><img src="/img/crab.jpg" /></a>
    </div>
    <div class="col-sm-4">
        <a href="chickenwings.html"><img  src="/img/wing.jpg" /></a>
    </div>
</div>
</div>
</body>
</html>